<h1 class="analytics_header"><%= @museum.name %> Analytics</h1>

<div class="ui three column grid">
  <div class="column">
    <div class="ui segment">
      <h2>Average Rating: <%= @museum.ratings_average %></h2>

      <h2>Average age of Reviewers: <%= @reviews.average_age_of_reviewer %></h2>

      <h2>Total Reviews written to date: <%= @reviews.count %></h2>

      <div class="reviews_side_bar">
        <%= form_tag search_path do %>
          <h2>Filter Reviews by Keyword:</h2>
          <div>
            <%= text_field_tag 'query', 'Enter your search query here' %>
            <%= submit_tag "Search" %>
          </div>
        <%end%>
      </div>
        <h2>Reviews Written each month</h2>
        <ul>
        <% @month_num.each_with_index do |month, i| %>
          <li><%=@month_name[i] + ": "%><%=@reviews.reviews_by_month(month).count%></li>
        <%end%>
        </ul>

    </div>
  </div>

  <div class="column">
    <div class="ui segment">
      <h2>Percentage of User Types: </h2>
        <ul>
          <% @user_types.each do |type| %>
            <li><%=type.name+': '%><%=@reviews.percentage_by_user_type(type.name)%></li>
          <%end%>
        </ul>

      <h2>Average Ratings by User Type: </h2>
        <ul>
          <% @user_types.each do |type| %>
          <li><%= type.name+': '%><%= @museum.ratings_average_by_user_type_id(type.id) %></li>
          <% end %>
        </ul>
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
      <h2>Most Recent Bad Reviews: </h2>
        <ul>
          <% @museum.bad_reviews.each do |review| %>
            <li><%= review.title %>
              <br>
              Rating: <%= review.rating %>
              <br>
              <%= review.review %>
              <br>
              <br>
            </li>
          <% end %>
        </ul>

        <h2>Email addresses for reviewers whose ratings are below 3: </h2>
          <ul>
            <% @museum.contact_sad_reviewers.each do |email| %>
              <li><%= email %></li>
            <% end %>
          </ul>
    </div>
  </div>
</div>
