<h1>New Museum Reviewer Account</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this account from being created:
    </h2>

    <ul>
      <%= @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :username %> <br>
    <%= f.text_field :username %><br>
    <small>Example: john_doe</small><br>
    <br>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <small>Example: password</small> <br>
    <br>
  </div>

  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
    <small>Example: password</small> <br>
    <br>
  </div>

  <div>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>
    <small>Example: John</small> <br>
    <br>
  </div>

  <div>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>
    <small>Example: Doe</small> <br>
    <br>
  </div>

  <div>
    <%= f.label :age %><br>
    <%= f.number_field :age, in: 13..100 %><br>
    <br>
  </div>

  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
    <small>Example: johndoe@email.com</small> <br>
    <br>
  </div>
  <%= f.submit %>
<% end %>
