<h1><%=@user.username%>'s Reviews</h1>
<h2>My Ratings Average for all reviews: <%= @user.average_ratings %></h2>
<ul>
<% @reviews.each do |review|%>
  <li> Rating: <%=review.rating%> "<%= link_to review.title, review_path(review) %>" <br>
    <%=review.shorten_review%>
  </li>
<%end%>
</ul>
