<h1><%=@user.review_writer%></h1>
<h2>My Ratings Average for all reviews:
  <% if @reviews.any? %>
    <%= @user.average_ratings %></h2>
  <% else %>
    <br><br><h2><%= "This user has not submitted any ratings" %></h2>
  <% end %>
<% if @reviews %>
  <ul>
    <% @reviews.each do |review|%>
      <li> Rating: <%=review.rating%> <p><%= link_to review.title, review_path(review) %></p><br>
      <%=review.shorten_review%>
      </li>
    <% end %>
  </ul>
<% else %>
    <%= "This user has not submitted any reviews" %>
<% end %>
<br>
  <% if current_user == @user && authorized_for_admin(@user) %>
    <%= link_to "Analytics Page", analytics_path %>
  <% end %>
