<h1>MUSEE</h1>
<div>Share your Museum Experiences with Others</div>
<br>
<h2>Search for Museum by City:</h2>
  <%= form_tag(museums_path, method: :get) do %>
    <%= text_field_tag(:search_by_city, params[:search_by_city]) %>
    <%= submit_tag "Search" %>
  <% end %>
<h3> Recent Reviews </h3>
  <% @recent_reviews.each do |review|%>
    <div>
      <h4><%= review.museum.name %></h4>
      <h5><%= review.title %></h5>
      <p><%= review.shorten_review %></p>
    </div>
  <% end %>
