<h1>Please Select a Museum</h1>

<%= flash[:notice] %>

<h4>Or, select a museum by city:</h4>
  <%= form_tag(museums_path, method: :get) do %>
    <%= text_field_tag(:search_by_city, params[:search_by_city]) %>
    <%= submit_tag "Search" %>
  <% end %>

<ul>
<% @museums.each do |museum| %>
      <h2><li>
        <%= link_to museum.name, museum_path(museum) %>
      </li></h2>
    <% end %>
</ul>
