<h1>Please Select a Museum</h1>

<%= flash[:alert] %>

<h4>Or, select a museum by city:</h4>
  <%= form_tag(museums_path, method: :get) do %>
    <%= text_field_tag(:search_by_city, params[:search_by_city]) %>
    <%= submit_tag "Search" %>
  <% end %>

  <br>
  <br>

<div class="ui relaxed divided list">
  <% @museums.each do |museum| %>
    <div class="item">
      <i class="university icon"></i>
      <div class="content list_header">
        <%= link_to museum.name, museum_path(museum), class: "header" %>
        <div class="description"><%= museum.city %></div>
      </div>
    </div>
  <% end %>
</div>
