<h1><%= @museum.name %></h1>

<h2><%= @museum.city %></h2>

<h2>Average Rating: <%= @museum.ratings_average %></h2>
<!--Reference to ratings_average method for reviews (Museum instance method) -->

<h2><%= link_to "Write a new Review", new_review_path  %></h2>
<h2>Most Recent Reviews</h2>
<!--Reference to recent_reviews method for reviews (Museum instance method) -->
<ul>
  <% @museum.most_recent_reviews.each do |review| %>
    <li><%= review.title %>, rating: <%= review.rating %>
    <br>
    <%= review.review %>
    <br>
    <p>Posted by: <%= link_to review.user.username, user_path(review.user) %>
    </li>
  <% end %>
</ul>
<br>
<br>
<p>Museum Address: </p>
<p><%= @museum.street_address %></p>
<p><%= @museum.city %>, <%= @museum.state %>  <%= @museum.zip_code %></p>
