<!DOCTYPE html>
<html>
  <head>
    <title>ModuleTwoMuseumReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:username] %>
        <div><%= "Hello #{session[:username]}" %> <%= link_to "Logout", logout_path, method: :delete %></div>
      <% else %>
        <div><%= link_to "Login", login_path %></div>
    <% end %>
    <br>
    <%= link_to "Browse Museums", museums_path %> <%= link_to "Submit a new Review", new_review_path %>
    <%= yield %>

  </body>
</html>
